<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to 'Vinay Verma', "https://about.me/vermavinay", target: '_blank', class: "text-white" %></small>
  </div>
  <% if logged_in? %>
    <div class="chat-button">
      <%= render 'layouts/floating_chat_button' %>
    </div>
  <% end %>
</footer>
